/**** SIGNUP ****/

.signup-container {
    display: none;
}

.signup-form {
    width: 25rem;
    min-height: 27rem;
    left: 50%;
    margin-left: -12.5rem;
    position: relative;
    border-radius: 0.5rem;
    padding-left: 4rem;
    padding-top: 1rem;
}
.to-login {
    left: 35%;
    font-weight: bold;
    position: relative;
    color: #000;
    transition: 0.2s all ease-in-out;
}
.to-login:hover {
    color: #787787;
    text-decoration: none;
    transition: 0.2s all ease-in-out;
}
.signup-title {
    position: relative;
    margin-top: -1rem;
    left: 23%;
    text-shadow: none;
    font-weight: bold;
    font-size: 2.2rem;
}
.alert-signup {
    width: 100%;
    height: 2.5rem;
    text-align: center;
    padding-top: 0.5rem;
}

.error-alert {
    position: relative;
    margin-left: -4rem;
}

.signup-hr {
    position: relative;
    left: 43%;
}

.req-field {
    position: relative;
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

.signup-row {
    position: relative;
    margin-left: -1.25rem;
}

.req-reminder {
    position: relative;
    margin-left: 11rem;
}
